* {
    box-sizing: border-box;
    border: 1px solid grey;
}

.calc {
    width: 400px;
    height: 600px;
}

.display {
    height: 100px;
    background-color: aquamarine;
    font-size: 48px;
    /* text-align: right;
    padding: 24px; */
    display: flex;
    justify-content: center;
    align-items: center;
}   


.buttons {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(221, 214, 214);

}

.btn {
    width: 80px;
    height: 80px;
    margin: 8px;
    background-color: #333;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    -webkit-box-shadow: 12px 12px 12px -12px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 12px 12px 12px -12px rgba(34, 60, 80, 0.6);
    box-shadow: 12px 12px 12px -12px rgba(34, 60, 80, 0.6);
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
}
.btn:active{
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    transform: scale(0.95);
    
}